<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SEO ConsultBelieve </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>        

    <script src= " https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>    
    <script type="text/javascript" src="https://cdn.rawgit.com/niklasvh/html2canvas/0.5.0-alpha2/dist/html2canvas.js"> </script>
  
{% block stylesheets %}
<link href="{{   asset('vendor/bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
<link href="{{  asset('css/font-awesome.css') }}" type="text/css" rel="stylesheet" />
<link href="{{  asset('css/google2.css') }}" type="text/css" rel="stylesheet" />   
{% endblock %}
      
</head>


<body>

<div class="container">

<div class="page-header">
    <h2>SEO <small>Website for SEO analyse</small></h2>
</div>

<!--  Navbar - START -->
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" >By ConsultBelieve</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{path("form")  }}">Form url</a></li>
            <li><a href="{{path("title")  }}">result</a></li>        
        </ul>
        </div>        
    </div>
</nav>

<!--  Navbar - END -->

</div>
{% block body %}
    
<div class="container">
        <h3>Url Form</h3>

    <div class="well">
        {{ form(form) }}
        {{ form_widget(form.send, { 'label': 'Click me' }) }}
    </div>
    
  </div>
{% endblock %}


  {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/jquery2.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jspdf.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery-2.1.3.js') }}"></script>
            <script type="text/javascript" src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>   
  {% endblock %}
</body>

</html>
     
